<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Program Test</title>
</head>
<body>

<form id="surveyForm">
<div class="ct-find-service">
  <h2>1. I worry about things.</h2>
  <div class="ct-select-group ct-js-select-group">
    <select class="ct-select ct-js-select" name="Q1" required>
    <option></option>
      <option value="1">Very Inaccurate</option>
      <option value="2">Moderately Inaccurate</option>
      <option value="3">Neither Accurate nor Inaccurate</option>
      <option value="4">Moderately Accurate</option>
      <option value="5">Very Accurate</option>
    </select>
  </div>
  </div>

  <div class="ct-find-service">
  <h2>2. I make friends easily.</h2>
  <div class="ct-select-group ct-js-select-group">
    <select class="ct-select ct-js-select" name="Q2" required>
      <option></option>
      <option value="1">Very Inaccurate</option>
      <option value="2">Moderately Inaccurate</option>
      <option value="3">Neither Accurate nor Inaccurate</option>
      <option value="4">Moderately Accurate</option>
      <option value="5">Very Accurate</option>
    </select>
  </div>
  </div>

  <div class="ct-find-service">
    <h2>3. I have a vivid imagination.</h2>
    <div class="ct-select-group ct-js-select-group">
      <select class="ct-select ct-js-select" name="Q3" required>
        <option></option>
        <option value="1">Very Inaccurate</option>
        <option value="2">Moderately Inaccurate</option>
        <option value="3">Neither Accurate nor Inaccurate</option>
        <option value="4">Moderately Accurate</option>
        <option value="5">Very Accurate</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
</form>

<script type="text/javascript" th:src="@{/js/submit.js}"></script>
</body>
</html>
